.App {
  text-align: center;
}

.header{
  display: flex;

}
.options{
  width: auto;
  height: auto;
  padding: 5px 30px;
  font-size: 20px;
  background-color: #65637B;
  color: white;
}

.input {
  font-family: inherit;
  width: 100%;
  border: 0;
  border-bottom: 2px solid gray;
  outline: 0;
  font-size: 1.3rem;
  color: black;
  padding: 7px 0;
  background: transparent;
  transition: border-color 0.2s;  
}


